<?xml version="1.0" encoding="utf-8"?>
 <!--
 Copyright © 2022 Olo Inc. All rights reserved.
 This software is made available under the Olo Pay SDK License (See LICENSE.md file)
 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="com.olo.olopay.internal.googlepay.GooglePayLauncherActivity"
            android:theme="@style/OloPayGooglePayLauncherTheme"
            android:exported="false" />
    </application>
</manifest>